/* body {
    background-image: url("backround_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
 body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("backround_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; /* Matn rangini oq qilamiz */
}
/* h1, p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
} */
h1{
    text-align : center;
 }
h2 {
     text-align : center ;
 }
p {
     color: white; 
    text-align: center; 
     font-size: 20px;
 }
 
a.button {
    background: black;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
}

a.button:hover {
    background: gray;
}